$font-primary: yekan-bakh;
$font-secondary: peyda;

$font-url: "../../fonts";

$font-faces: (
  $font-primary: (
    all-weights: (
      src: url("#{$font-url}/yekan-bakh/YekanBakh-VF.woff"),
    ),
  ),
  $font-secondary: (
    regular: (
      font-weight: 400,
      src: url("#{$font-url}/peyda/peyda-regular.ttf"),
    ),
    medium: (
      font-weight: 500,
      src: url("#{$font-url}/peyda/peyda-medium.ttf"),
    ),
    semi-bold: (
      font-weight: 600,
      src: url("#{$font-url}/peyda/peyda-semiBold.ttf"),
    ),
    bold: (
      font-weight: 700,
      src: url("#{$font-url}/peyda/peyda-bold.ttf"),
    ),
  ),
);
