$typography: (
  default: (
    fa: (
      display-large: (
        font-size: 56px,
        font-weight: 875,
        line-height: 64px,
        letter-spacing: -1px,
      ),
      display-medium: (
        font-size: 45px,
        font-weight: 875,
        line-height: 52px,
        letter-spacing: -1px,
      ),
      display-small: (
        font-size: 36px,
        font-weight: 725,
        line-height: 44px,
        letter-spacing: -1px,
      ),
      headline-large: (
        font-size: 32px,
        font-weight: 600,
        line-height: 40px,
        letter-spacing: -1.5px,
      ),
      headline-medium: (
        font-size: 28px,
        font-weight: 600,
        line-height: 36px,
        letter-spacing: -1px,
      ),
      headline-small: (
        font-size: 24px,
        font-weight: 600,
        line-height: 32px,
        letter-spacing: -0.5px,
      ),
      title-large: (
        font-size: 20px,
        font-weight: 600,
        line-height: 28px,
        letter-spacing: -0.5px,
      ),
      title-medium: (
        font-size: 16px,
        font-weight: 450,
        line-height: 24px,
        letter-spacing: -0.4px,
      ),
      title-small: (
        font-size: 14px,
        font-weight: 450,
        line-height: 20px,
        letter-spacing: 0,
      ),
      label-large: (
        font-size: 14px,
        font-weight: 450,
        line-height: 20px,
        letter-spacing: 0,
      ),
      label-medium: (
        font-size: 12px,
        font-weight: 450,
        line-height: 16px,
        letter-spacing: 0.5px,
      ),
      label-small: (
        font-size: 11px,
        font-weight: 450,
        line-height: 16px,
        letter-spacing: 0,
      ),
      body-large: (
        font-size: 16px,
        font-weight: 325,
        line-height: 32px,
        letter-spacing: 0,
      ),
      body-medium: (
        font-size: 14px,
        font-weight: 325,
        line-height: 28px,
        letter-spacing: 0px,
      ),
      body-small: (
        font-size: 12px,
        font-weight: 325,
        line-height: 20px,
        letter-spacing: -0.2px,
      ),
    ),
    en: (
      display-large: (
        font-size: 56px,
        font-weight: 875,
        line-height: 64px,
        letter-spacing: -1px,
      ),
      display-medium: (
        font-size: 45px,
        font-weight: 875,
        line-height: 52px,
        letter-spacing: -1px,
      ),
      display-small: (
        font-size: 36px,
        font-weight: 725,
        line-height: 44px,
        letter-spacing: -1px,
      ),
      headline-large: (
        font-size: 32px,
        font-weight: 600,
        line-height: 40px,
        letter-spacing: -1.5px,
      ),
      headline-medium: (
        font-size: 28px,
        font-weight: 600,
        line-height: 36px,
        letter-spacing: -1px,
      ),
      headline-small: (
        font-size: 24px,
        font-weight: 600,
        line-height: 32px,
        letter-spacing: -0.5px,
      ),
      title-large: (
        font-size: 20px,
        font-weight: 600,
        line-height: 28px,
        letter-spacing: -0.5px,
      ),
      title-medium: (
        font-size: 16px,
        font-weight: 450,
        line-height: 24px,
        letter-spacing: -0.4px,
      ),
      title-small: (
        font-size: 14px,
        font-weight: 450,
        line-height: 20px,
        letter-spacing: 0,
      ),
      label-large: (
        font-size: 14px,
        font-weight: 450,
        line-height: 20px,
        letter-spacing: 0,
      ),
      label-medium: (
        font-size: 12px,
        font-weight: 450,
        line-height: 16px,
        letter-spacing: 0.5px,
      ),
      label-small: (
        font-size: 11px,
        font-weight: 450,
        line-height: 16px,
        letter-spacing: 0,
      ),
      body-large: (
        font-size: 20px,
        font-weight: 325,
        line-height: 32px,
        letter-spacing: 0,
      ),
      body-medium: (
        font-size: 14px,
        font-weight: 325,
        line-height: 28px,
        letter-spacing: 0px,
      ),
      body-small: (
        font-size: 12px,
        font-weight: 325,
        line-height: 20px,
        letter-spacing: -0.2px,
      ),
    ),
  ),
  small: (
    fa: (
      display-large: (
        font-size: 56px,
        font-weight: 875,
        line-height: 64px,
        letter-spacing: -1px,
      ),
      display-medium: (
        font-size: 45px,
        font-weight: 875,
        line-height: 52px,
        letter-spacing: -1px,
      ),
      display-small: (
        font-size: 36px,
        font-weight: 725,
        line-height: 44px,
        letter-spacing: -1px,
      ),
      headline-large: (
        font-size: 32px,
        font-weight: 600,
        line-height: 40px,
        letter-spacing: -1.5px,
      ),
      headline-medium: (
        font-size: 28px,
        font-weight: 600,
        line-height: 36px,
        letter-spacing: -1px,
      ),
      headline-small: (
        font-size: 24px,
        font-weight: 600,
        line-height: 32px,
        letter-spacing: -0.5px,
      ),
      title-large: (
        font-size: 20px,
        font-weight: 600,
        line-height: 28px,
        letter-spacing: -0.5px,
      ),
      title-medium: (
        font-size: 16px,
        font-weight: 450,
        line-height: 24px,
        letter-spacing: -0.4px,
      ),
      title-small: (
        font-size: 14px,
        font-weight: 450,
        line-height: 20px,
        letter-spacing: 0,
      ),
      label-large: (
        font-size: 14px,
        font-weight: 450,
        line-height: 20px,
        letter-spacing: 0,
      ),
      label-medium: (
        font-size: 12px,
        font-weight: 450,
        line-height: 16px,
        letter-spacing: 0.5px,
      ),
      label-small: (
        font-size: 11px,
        font-weight: 450,
        line-height: 16px,
        letter-spacing: 0,
      ),
      body-large: (
        font-size: 16px,
        font-weight: 325,
        line-height: 32px,
        letter-spacing: 0,
      ),
      body-medium: (
        font-size: 14px,
        font-weight: 325,
        line-height: 28px,
        letter-spacing: 0px,
      ),
      body-small: (
        font-size: 12px,
        font-weight: 325,
        line-height: 20px,
        letter-spacing: -0.2px,
      ),
    ),
    en: (
      display-large: (
        font-size: 56px,
        font-weight: 875,
        line-height: 64px,
        letter-spacing: -1px,
      ),
      display-medium: (
        font-size: 45px,
        font-weight: 875,
        line-height: 52px,
        letter-spacing: -1px,
      ),
      display-small: (
        font-size: 36px,
        font-weight: 725,
        line-height: 44px,
        letter-spacing: -1px,
      ),
      headline-large: (
        font-size: 32px,
        font-weight: 600,
        line-height: 40px,
        letter-spacing: -1.5px,
      ),
      headline-medium: (
        font-size: 28px,
        font-weight: 600,
        line-height: 36px,
        letter-spacing: -1px,
      ),
      headline-small: (
        font-size: 24px,
        font-weight: 600,
        line-height: 32px,
        letter-spacing: -0.5px,
      ),
      title-large: (
        font-size: 20px,
        font-weight: 600,
        line-height: 28px,
        letter-spacing: -0.5px,
      ),
      title-medium: (
        font-size: 16px,
        font-weight: 450,
        line-height: 24px,
        letter-spacing: -0.4px,
      ),
      title-small: (
        font-size: 14px,
        font-weight: 450,
        line-height: 20px,
        letter-spacing: 0,
      ),
      label-large: (
        font-size: 14px,
        font-weight: 450,
        line-height: 20px,
        letter-spacing: 0,
      ),
      label-medium: (
        font-size: 12px,
        font-weight: 450,
        line-height: 16px,
        letter-spacing: 0.5px,
      ),
      label-small: (
        font-size: 11px,
        font-weight: 450,
        line-height: 16px,
        letter-spacing: 0,
      ),
      body-large: (
        font-size: 16px,
        font-weight: 325,
        line-height: 32px,
        letter-spacing: 0,
      ),
      body-medium: (
        font-size: 14px,
        font-weight: 325,
        line-height: 28px,
        letter-spacing: 0px,
      ),
      body-small: (
        font-size: 12px,
        font-weight: 325,
        line-height: 20px,
        letter-spacing: -0.2px,
      ),
    ),
  ),
);
