@use "../abstracts/functions/color-by-shade" as *;

$dark: (
  //primary
  primary: colorByShade(primary, 80),
  on-primary: colorByShade(primary, 20),
  primary-container: colorByShade(primary, 10),
  on-primary-container: colorByShade(primary, 90),
  primary-fixed: colorByShade(primary, 90),
  primary-fixed-dim: colorByShade(primary, 80),
  on-primary-fixed: colorByShade(primary, 10),
  on-primary-fixed-variant: colorByShade(primary, 30),
  inverse-primary: colorByShade(primary, 40),
  inverse--on-primary: colorByShade(primary, 100),
  //secondary
  secondary: colorByShade(secondary, 80),
  on-secondary: colorByShade(secondary, 20),
  secondary-container: colorByShade(secondary, 20),
  on-secondary-container: colorByShade(secondary, 90),
  secondary-fixed: colorByShade(secondary, 90),
  secondary-fixed-dim: colorByShade(secondary, 80),
  on-secondary-fixed: colorByShade(secondary, 00),
  on-secondary-fixed-variant: colorByShade(secondary, 30),
  inverse-secondary: colorByShade(secondary, 40),
  inverse--on-secondary: colorByShade(secondary, 100),
  //tertiary
  tertiary: colorByShade(tertiary, 80),
  on-tertiary: colorByShade(tertiary, 20),
  tertiary-container: colorByShade(tertiary, 30),
  on-tertiary-container: colorByShade(tertiary, 90),
  tertiary-fixed: colorByShade(tertiary, 90),
  tertiary-fixed-dim: colorByShade(tertiary, 80),
  on-tertiary-fixed: colorByShade(tertiary, 00),
  on-tertiary-fixed-variant: colorByShade(tertiary, 30),
  inverse-tertiary: colorByShade(tertiary, 40),
  inverse--on-tertiary: colorByShade(tertiary, 20),
  //neutral
  surface: colorByShade(neutral, 06),
  on-surface: colorByShade(neutral, 90),
  outline: colorByShade(neutral-variant, 60),
  outline-variant: colorByShade(neutral-variant, 30),
  on-surface-variant: colorByShade(neutral-variant, 70),
  surface-dim: colorByShade(neutral, 06),
  surface-container: colorByShade(neutral, 12),
  surface-container-high: colorByShade(neutral, 17),
  surface-container-highest: colorByShade(neutral, 24),
  surface-container-lowest: colorByShade(neutral, 00),
  surface-container-low: colorByShade(neutral, 10),
  surface-bright: colorByShade(neutral, 25),
  inverse-surface: colorByShade(neutral, 90),
  inverse-on-surface: colorByShade(neutral, 10),
  on-surface-variant-low: colorByShade(neutral-variant, 60),
  scrim: colorByShade(neutral, 00),
  surface-tint: colorByShade(primary, 05),
  //success
  success: colorByShade(success, 80),
  on-success: colorByShade(success, 20),
  success-container: colorByShade(success, 30),
  on-success-container: colorByShade(success, 90),
  //error
  error: colorByShade(error, 80),
  on-error: colorByShade(error, 20),
  error-container: colorByShade(error, 30),
  on-error-container: colorByShade(error, 90),
  //info
  info: colorByShade(info, 80),
  on-info: colorByShade(info, 20),
  info-container: colorByShade(info, 30),
  on-info-container: colorByShade(info, 90),
  //warning
  warning: colorByShade(warning, 80),
  on-warning: colorByShade(warning, 20),
  warning-container: colorByShade(warning, 30),
  on-warning-container: colorByShade(warning, 90),
  //state-layer
  hovered-soft: colorByShade(state-layer, dark-hovered-soft),
  pressed-focused-soft: colorByShade(state-layer, dark-pressed-focused-soft),
  disabled-soft: colorByShade(state-layer, dark-disabled-soft),
  hovered-strong: colorByShade(state-layer, dark-hovered-strong),
  pressed-focused-strong: colorByShade(state-layer, dark-pressed-focused-strong),
  disabled-strong: colorByShade(state-layer, dark-disabled-strong),
  //elevation
  elevation-shadow: colorByShade(elevation, dark-shadow),
  elevation-glow: colorByShade(elevation, dark-glow),
  //additional-colors
  additional-color1: colorByShade(additional-colors, dark-color1),
  additional-color2: colorByShade(additional-colors, dark-color2),
  additional-color3: colorByShade(additional-colors, dark-color3),
  additional-color4: colorByShade(additional-colors, dark-color4),
  additional-color5: colorByShade(additional-colors, dark-color5),
  additional-color6: colorByShade(additional-colors, dark-color6),
  additional-color7: colorByShade(additional-colors, dark-color7),
  additional-color8: colorByShade(additional-colors, dark-color8)
);
