@mixin flex($direction: row, $wrap: nowrap, $align: flex-start, $justify: flex-start, $is-inline: false) {
  $display-type: flex;

  @if ($is-inline) {
    $display-type: inline-flex;
  }

  display: $display-type;
  flex-direction: $direction;
  flex-wrap: $wrap;
  align-items: $align;
  justify-content: $justify;
}
